<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Ensure index.html doesn't loop
  RewriteRule ^index\.html$ - [L]
  
  # If the requested file or directory exists, serve it directly
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Otherwise, redirect all requests to index.html
  RewriteRule . /index.html [L]
</IfModule>
